blinker==1.9.0
cachelib==0.13.0
certifi==2025.1.31
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
contourpy==1.3.1
cryptography==46.0.3
cycler==0.12.1
Cython==3.2.3
dill==0.4.0
dotenv==0.9.9
easyocr==1.7.2
filelock==3.17.0
Flask==3.1.0
flask-cors==6.0.1
Flask-Session==0.8.0
fonttools==4.55.8
fsspec==2025.2.0
gunicorn==23.0.0
idna==3.10
imageio==2.37.0
itsdangerous==2.2.0
Jinja2==3.1.5
kiwisolver==1.4.8
lazy_loader==0.4
MarkupSafe==3.0.2
matplotlib==3.10.0
mpmath==1.3.0
msgspec==0.19.0
networkx==3.4.2
ninja==1.11.1.3
numpy==2.1.1
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
packaging==24.2
pandas==2.2.3
pdf2image==1.17.0
pillow==11.1.0
psutil==6.1.1
py-cpuinfo==9.0.0
pyclipper==1.3.0.post6
pycparser==2.23
pycryptodome==3.23.0
pyOpenSSL==25.3.0
pyparsing==3.2.1
PyPDF2==3.0.1
pytesseract==0.3.13
python-bidi==0.6.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
PyYAML==6.0.2
reportlab==4.2.5
requests==2.32.3
scikit-image==0.25.1
scipy==1.15.1
seaborn==0.13.2
setuptools==75.8.0
shapely==2.0.7
six==1.17.0
sympy==1.13.1
tifffile==2025.1.10
torch==2.6.0
torchvision==0.21.0
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2025.1
ultralytics==8.3.70
ultralytics-thop==2.0.14
urllib3==2.3.0
uuid==1.30
waitress==3.0.2
Werkzeug==3.1.3
